<div class="row">
    <div class="col-2">
        <app-sidebar></app-sidebar> 
    </div>
    <div class="col-9">
        <div class="row mt-5">
            <div class="col">
                <div class="row">
                    <div class="col">
                        <button class="btn big-button" [disabled]="!disableFloor1Button" (click)="navigateToDepartments(1)">Floor 1</button>
                    </div>
                    <div class="col">
                        <button class="btn big-button" [disabled]="!disableFloor2Button" (click)="navigateToDepartments(2)">Floor 2</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <button class="btn big-button" [disabled]="!disableFloor3Button" (click)="navigateToDepartments(3)">Floor 3</button>
                    </div>
                    <div class="col">
                        <button class="btn big-button" [disabled]="!disableFloor4Button" (click)="navigateToDepartments(4)">Floor 4</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
